In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import utils.data as data

train, test = data.get_train_test_split(0.01, 42)
dataset = data.Marconi100Dataset(test)

100%|█████████████████████████████████████████████| 3/3 [00:00<00:00,  6.04it/s]

In [3]:
df, lab = dataset[0]

/home/liam/Liam/Uni/Magistrale/AIITI/Project/AI_Industry_Project/notebooks/utils/data.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label[label != 0] = 1 # labels were [0, 2]

In [4]:
df

,avg:ambient,var:ambient,max:ambient,min:ambient,avg:dimm0_temp,var:dimm0_temp,max:dimm0_temp,min:dimm0_temp,avg:dimm10_temp,var:dimm10_temp,...,max:proc_total,min:proc_total,avg:swap_free,var:swap_free,max:swap_free,min:swap_free,avg:swap_total,var:swap_total,max:swap_total,min:swap_total
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-06-01 00:15:00,18.693333,0.010667,18.8,18.6,28.066667,0.066667,29.0,28.0,29.000000,0.000000,...,2283.0,2279.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 00:30:00,18.426667,0.027810,18.6,18.2,28.000000,0.000000,28.0,28.0,29.000000,0.000000,...,2281.0,2281.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 00:45:00,18.826667,0.096381,19.4,18.4,28.000000,0.000000,28.0,28.0,29.000000,0.000000,...,2284.0,2280.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 01:00:00,18.546667,0.128381,19.2,18.2,28.000000,0.000000,28.0,28.0,29.000000,0.000000,...,2281.0,2277.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 01:15:00,18.773333,0.107810,19.2,18.2,28.000000,0.000000,28.0,28.0,29.000000,0.000000,...,2280.0,2278.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-30 21:00:00,26.533333,0.009524,26.6,26.4,35.866667,0.123810,36.0,35.0,35.000000,0.000000,...,2756.0,2588.0,3218624.0,0.0,3218624.0,3218624.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 21:15:00,26.520000,0.010286,26.6,26.4,35.000000,0.000000,35.0,35.0,34.000000,0.000000,...,2630.0,2629.0,3218624.0,0.0,3218624.0,3218624.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 21:30:00,26.426667,0.016381,26.6,26.2,34.600000,0.257143,35.0,34.0,33.600000,0.257143,...,2637.0,2629.0,3218624.0,0.0,3218624.0,3218624.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 21:45:00,26.613333,0.008381,26.8,26.4,35.000000,0.000000,35.0,35.0,33.800000,0.171429,...,2632.0,2627.0,3218624.0,0.0,3218624.0,3218624.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 22:00:00,26.520000,0.038857,26.8,26.2,35.000000,0.000000,35.0,35.0,33.866667,0.123810,...,2639.0,2632.0,3218624.0,0.0,3218624.0,3218624.0,4194240.0,0.0,4194240.0,4194240.0

In [5]:
lab

timestamp
2020-06-01 00:15:00    0
2020-06-01 00:30:00    0
2020-06-01 00:45:00    0
2020-06-01 01:00:00    0
2020-06-01 01:15:00    0
                      ..
2021-04-30 21:00:00    0
2021-04-30 21:15:00    0
2021-04-30 21:30:00    0
2021-04-30 21:45:00    0
2021-04-30 22:00:00    0
Length: 13383, dtype: int64

In [6]:
df.describe()

,avg:ambient,var:ambient,max:ambient,min:ambient,avg:dimm0_temp,var:dimm0_temp,max:dimm0_temp,min:dimm0_temp,avg:dimm10_temp,var:dimm10_temp,...,max:proc_total,min:proc_total,avg:swap_free,var:swap_free,max:swap_free,min:swap_free,avg:swap_total,var:swap_total,max:swap_total,min:swap_total
count,13383.000000,13383.000000,13383.000000,13383.000000,13383.000000,13383.000000,13383.000000,13383.000000,13383.000000,13383.000000,...,13383.000000,13383.000000,1.338300e+04,1.338300e+04,1.338300e+04,1.338300e+04,13383.0,13383.0,13383.0,13383.0
mean,26.373602,0.026061,26.564970,26.183412,35.536282,0.058295,35.692221,35.389823,34.427787,0.054181,...,2555.484570,2547.969812,3.291498e+06,7.163970e+07,3.291711e+06,3.291413e+06,4194240.0,0.0,4194240.0,4194240.0
std,1.945581,0.095248,1.936511,1.965288,1.861722,0.125628,1.868036,1.879761,1.722643,0.129322,...,264.467553,262.984326,5.478070e+05,7.991135e+09,5.471605e+05,5.480088e+05,0.0,0.0,0.0,0.0
min,17.013333,0.000000,17.200000,16.800000,27.066667,0.000000,28.000000,27.000000,27.000000,0.000000,...,1256.000000,1251.000000,4.329143e+04,0.000000e+00,2.172160e+05,0.000000e+00,4194240.0,0.0,4194240.0,4194240.0
25%,25.560000,0.008381,25.800000,25.400000,35.000000,0.000000,35.000000,35.000000,33.866667,0.000000,...,2536.000000,2519.000000,2.939968e+06,0.000000e+00,2.939968e+06,2.939968e+06,4194240.0,0.0,4194240.0,4194240.0
50%,26.840000,0.010667,27.000000,26.600000,36.000000,0.000000,36.000000,36.000000,35.000000,0.000000,...,2614.000000,2609.000000,3.134912e+06,0.000000e+00,3.134912e+06,3.134912e+06,4194240.0,0.0,4194240.0,4194240.0
75%,27.680000,0.022857,27.800000,27.600000,37.000000,0.066667,37.000000,37.000000,35.733333,0.066667,...,2664.000000,2659.000000,3.574592e+06,0.000000e+00,3.574592e+06,3.574592e+06,4194240.0,0.0,4194240.0,4194240.0
max,36.160000,5.952381,36.400000,35.600000,42.000000,3.838095,42.000000,42.000000,41.066667,3.171429,...,4840.000000,3410.000000,4.194240e+06,9.240484e+11,4.194240e+06,4.194240e+06,4194240.0,0.0,4194240.0,4194240.0

In [7]:
lab.describe()

count    13383.000000
mean         0.017410
std          0.130799
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
dtype: float64

In [8]:
lab.unique()

array([0, 1])

In [9]:
print(type(test))

<class 'list'>

In [10]:
print(len(test))

3

In [11]:
df.shape

(13383, 460)

In [19]:
import torch

tensor = torch.ones(df.shape)
print(tensor.shape)

torch.Size([13383, 460])

In [69]:
import random

def generate_masks(M):
    masks = []
    for i in range(0, M):
        x = tensor.clone().detach()

        #get column indices for the features to mask
        col_idxs = random.sample(range(0, df.shape[1]), 10)
        #get row indices for the samples to mask
        row_idxs = random.sample(range(0, df.shape[0]), 10)
        if i == 0:
            print("col_idxs: ", col_idxs)
            print("row_idxs: ", row_idxs)
            for i in row_idxs:
                for j in col_idxs:
                x[i][j] = 0

        mask = x > 0
        masks.append(mask)
    return masks

In [70]:
masks = generate_masks(2)
first_mask = masks[0]
# print indices of holes
print(torch.logical_not(first_mask).nonzero())

col_idxs:  [229, 196, 231, 309, 254, 440, 341, 386, 413, 281]
row_idxs:  [13374, 8396, 1300, 12165, 2525, 12492, 11700, 5540, 9792, 10472]
tensor([[ 1300,   196],
        [ 1300,   229],
        [ 1300,   231],
        [ 1300,   254],
        [ 1300,   281],
        [ 1300,   309],
        [ 1300,   341],
        [ 1300,   386],
        [ 1300,   413],
        [ 1300,   440],
        [ 2525,   196],
        [ 2525,   229],
        [ 2525,   231],
        [ 2525,   254],
        [ 2525,   281],
        [ 2525,   309],
        [ 2525,   341],
        [ 2525,   386],
        [ 2525,   413],
        [ 2525,   440],
        [ 5540,   196],
        [ 5540,   229],
        [ 5540,   231],
        [ 5540,   254],
        [ 5540,   281],
        [ 5540,   309],
        [ 5540,   341],
        [ 5540,   386],
        [ 5540,   413],
        [ 5540,   440],
        [ 8396,   196],
        [ 8396,   229],
        [ 8396,   231],
        [ 8396,   254],
        [ 8396,   281],
        [ 8396,   309],
        [ 8396,   341],
        [ 8396,   386],
        [ 8396,   413],
        [ 8396,   440],
        [ 9792,   196],
        [ 9792,   229],
        [ 9792,   231],
        [ 9792,   254],
        [ 9792,   281],
        [ 9792,   309],
        [ 9792,   341],
        [ 9792,   386],
        [ 9792,   413],
        [ 9792,   440],
        [10472,   196],
        [10472,   229],
        [10472,   231],
        [10472,   254],
        [10472,   281],
        [10472,   309],
        [10472,   341],
        [10472,   386],
        [10472,   413],
        [10472,   440],
        [11700,   196],
        [11700,   229],
        [11700,   231],
        [11700,   254],
        [11700,   281],
        [11700,   309],
        [11700,   341],
        [11700,   386],
        [11700,   413],
        [11700,   440],
        [12165,   196],
        [12165,   229],
        [12165,   231],
        [12165,   254],
        [12165,   281],
        [12165,   309],
        [12165,   341],
        [12165,   386],
        [12165,   413],
        [12165,   440],
        [12492,   196],
        [12492,   229],
        [12492,   231],
        [12492,   254],
        [12492,   281],
        [12492,   309],
        [12492,   341],
        [12492,   386],
        [12492,   413],
        [12492,   440],
        [13374,   196],
        [13374,   229],
        [13374,   231],
        [13374,   254],
        [13374,   281],
        [13374,   309],
        [13374,   341],
        [13374,   386],
        [13374,   413],
        [13374,   440]])