In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import utils.data as data

train, test = data.get_train_test_split(0.01, 42)
dataset = data.Marconi100Dataset(test)

100%|██████████| 3/3 [00:00<00:00,  9.37it/s]

In [22]:
df, lab = dataset[0]

c:\Users\zumo0\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\MasterAI\AI_2_1\AIID\project\AI_Industry_Project\notebooks\utils\data.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data = df.drop(["label", "New_label"], axis=1)

In [23]:
df

,avg:ambient,var:ambient,max:ambient,min:ambient,avg:dimm0_temp,var:dimm0_temp,max:dimm0_temp,min:dimm0_temp,avg:dimm10_temp,var:dimm10_temp,...,max:proc_total,min:proc_total,avg:swap_free,var:swap_free,max:swap_free,min:swap_free,avg:swap_total,var:swap_total,max:swap_total,min:swap_total
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-06-01 00:00:00,16.075000,0.010714,16.2,16.0,26.000000,0.000000,26.0,26.0,25.375000,0.267857,...,1673.0,1673.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 00:15:00,15.661538,0.015897,16.0,15.6,26.000000,0.000000,26.0,26.0,25.000000,0.000000,...,1675.0,1669.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 00:30:00,15.426667,0.004952,15.6,15.4,26.000000,0.000000,26.0,26.0,25.000000,0.000000,...,1672.0,1670.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 00:45:00,15.760000,0.006857,15.8,15.6,26.000000,0.000000,26.0,26.0,25.000000,0.000000,...,1669.0,1668.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
2020-06-01 01:00:00,15.714286,0.010549,15.8,15.6,26.000000,0.000000,26.0,26.0,25.000000,0.000000,...,1674.0,1672.0,4194240.0,0.0,4194240.0,4194240.0,4194240.0,0.0,4194240.0,4194240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-30 21:00:00,23.240000,0.006857,23.4,23.2,33.000000,0.000000,33.0,33.0,32.933333,0.066667,...,2347.0,2340.0,4108224.0,0.0,4108224.0,4108224.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 21:15:00,22.880000,0.021714,23.0,22.6,32.066667,0.066667,33.0,32.0,32.000000,0.000000,...,2346.0,2335.0,4108224.0,0.0,4108224.0,4108224.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 21:30:00,22.960000,0.041143,23.2,22.6,32.000000,0.000000,32.0,32.0,32.000000,0.000000,...,2370.0,2337.0,4108224.0,0.0,4108224.0,4108224.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 21:45:00,23.053333,0.036952,23.4,22.8,32.000000,0.000000,32.0,32.0,32.000000,0.000000,...,2342.0,2342.0,4108224.0,0.0,4108224.0,4108224.0,4194240.0,0.0,4194240.0,4194240.0
2021-04-30 22:00:00,23.053333,0.042667,23.4,22.6,32.000000,0.000000,32.0,32.0,32.000000,0.000000,...,2352.0,2347.0,4108224.0,0.0,4108224.0,4108224.0,4194240.0,0.0,4194240.0,4194240.0

In [25]:
lab

timestamp
2020-06-01 00:00:00    0
2020-06-01 00:15:00    0
2020-06-01 00:30:00    0
2020-06-01 00:45:00    0
2020-06-01 01:00:00    0
                      ..
2021-04-30 21:00:00    0
2021-04-30 21:15:00    0
2021-04-30 21:30:00    0
2021-04-30 21:45:00    0
2021-04-30 22:00:00    0
Length: 13195, dtype: int64

In [26]:
df.describe()

,avg:ambient,var:ambient,max:ambient,min:ambient,avg:dimm0_temp,var:dimm0_temp,max:dimm0_temp,min:dimm0_temp,avg:dimm10_temp,var:dimm10_temp,...,max:proc_total,min:proc_total,avg:swap_free,var:swap_free,max:swap_free,min:swap_free,avg:swap_total,var:swap_total,max:swap_total,min:swap_total
count,13195.000000,13195.000000,13195.000000,13195.000000,13195.000000,13195.000000,13195.000000,13195.000000,13195.000000,13195.000000,...,13195.000000,13195.000000,1.319500e+04,13195.0,1.319500e+04,1.319500e+04,13195.0,13195.0,13195.0,13195.0
mean,22.560967,0.051037,22.841455,22.258067,31.190676,0.072317,31.388708,30.985449,31.562257,0.066015,...,2068.385828,2064.011974,4.182962e+06,0.0,4.182962e+06,4.182962e+06,4194240.0,0.0,4194240.0,4194240.0
std,2.596492,0.195693,2.544142,2.651237,2.382058,0.114362,2.372173,2.413098,2.418098,0.127191,...,173.265695,171.689768,2.903330e+04,0.0,2.903330e+04,2.903330e+04,0.0,0.0,0.0,0.0
min,12.960000,0.000000,13.200000,12.200000,22.000000,0.000000,22.000000,22.000000,22.600000,0.000000,...,1281.000000,1266.000000,4.108224e+06,0.0,4.108224e+06,4.108224e+06,4194240.0,0.0,4194240.0,4194240.0
25%,21.440000,0.012571,21.800000,21.000000,30.000000,0.000000,30.000000,30.000000,30.600000,0.000000,...,2030.000000,2027.000000,4.194240e+06,0.0,4.194240e+06,4.194240e+06,4194240.0,0.0,4194240.0,4194240.0
50%,23.280000,0.025524,23.600000,23.000000,32.000000,0.000000,32.000000,32.000000,32.000000,0.000000,...,2105.000000,2101.000000,4.194240e+06,0.0,4.194240e+06,4.194240e+06,4194240.0,0.0,4194240.0,4194240.0
75%,24.400000,0.054095,24.600000,24.200000,33.000000,0.171429,33.000000,33.000000,33.000000,0.123810,...,2152.000000,2148.000000,4.194240e+06,0.0,4.194240e+06,4.194240e+06,4194240.0,0.0,4194240.0,4194240.0
max,26.733333,19.174095,26.800000,26.600000,36.000000,4.923810,36.000000,36.000000,37.933333,7.600000,...,4149.000000,4138.000000,4.194240e+06,0.0,4.194240e+06,4.194240e+06,4194240.0,0.0,4194240.0,4194240.0

In [27]:
lab.describe()

count    13195.000000
mean         0.016446
std          0.127186
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
dtype: float64

In [28]:
lab.unique()

array([0, 1], dtype=int64)